---
const images = [
  "src/images/image1.png",
  "src/images/image2.png",
  "src/images/image3.png",
];

const imagesLink = [
  {
    image: "src/images/image1.png",
    enlace:"https://echoprojects3d.web.app/echoSpace/web/viewHome.html"
  },
  {
    image:"src/images/image2.png",
    enlace:"https://echoprojects3d.web.app/echoHome/web/viewHome.html"
  },
  {
    image:"src/images/image3.png",
    enlace:"https://home.by.me/en/project/appjavadev2019/copie-de-copie-de-alpinahome/medias"
  }
];

---


<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  {
  imagesLink.map(({image, enlace}) => (
    <a href={enlace} target="_blank"><img src={image} alt="EchoHome Gallery" class="rounded-lg shadow-lg" /></a>
  ))
  }
</div>

