---
---

<header class="bg-green-700 text-white py-6">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold">EchoHome</h1>
      <p class="text-xl">Ecológicamente Confortable</p>
    </div>
</header>