---
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EchoHome: Ecológicamente Confortable</title>
    <meta name="description" content="Un modelo de vida sustentable que integra agroecología, domótica y energías renovables." />
  </head>
  <body class="bg-gray-50 text-gray-900">
    <slot />
  </body>
</html>

<style is:global>

#inicio{
    background-image: url(./public/images/Cover.jpg);
    background-color:black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 70%;
    color: white;
    height: 450px;
    opacity: 0.8;
    
}


</style>